# Decision Tree to classify defaulters


Data taken from the UCI data repository (Taiwan Dataset)

Decision Tree :
        This research aimed at the case of customers default payments in Taiwan and compares the predictive accuracy of probability of default among six data mining methods. From the perspective of risk management, the result of predictive accuracy of the estimated probability of default will be more valuable than the binary result of classification - credible or not credible clients. Because the real probability of default is unknown, this study presented the novel alpha Smoothing Method to estimate the real probability of default. With the real probability of default as the response variable (Y), and the predictive probability of default as the independent variable (X), the simple linear regression result (Y = A + BX) shows that the forecasting model produced by artificial neural network has the highest coefficient of determination; its regression intercept (A) is close to zero, and regression coefficient (B) to one. 
        
Therefore, among the six data mining techniques, I have compared various classical algorithms and concluded Decision 
Tree Model to be best.

Customer default payment prediction using an optimized Decision Tree Model with the top 15 features selected among 22 for best results. F1-Score achieved: 0.5 on test set. Concluded that a Neural Network can learn more complex patterns.

## Importing libraries

In [0]:
import copy
# linear algebra
import numpy as np 
# data processing
import pandas as pd 
# Algorithms
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_validate
from sklearn.feature_selection import SelectKBest, mutual_info_classif
from sklearn.feature_selection import RFE
from sklearn.feature_selection import RFECV
from imblearn.over_sampling import SMOTE

Using TensorFlow backend.
/Users/MrVarma/anaconda3/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:526: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/Users/MrVarma/anaconda3/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:527: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/Users/MrVarma/anaconda3/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/Users/MrVarma/anaconda3/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:529: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/Users/MrVarma/anaconda3/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:530: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/Users/MrVarma/anaconda3/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:535: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

## Loading data

In [0]:
#Loading Data
################################################################
def load_data():
    test_df = pd.read_csv("test.csv")
    train_df = pd.read_csv("train.csv")
    #Dropping 'Unnamed: 0' column and setting ID to index
    train_df_copy=copy.copy(train_df.drop(['Unnamed: 0'],axis=1))
    train=copy.copy(train_df_copy.set_index('ID'))
    test_df_copy=copy.copy(test_df.drop(['Unnamed: 0'],axis=1))
    test=copy.copy(test_df_copy.set_index('ID'))
    return(train,test)
################################################################

## Data Preperation

### Preprocessing

In [0]:
#Standardizing the Non categorical Data
################################################################
def scale(X):
    rescale=['LIMIT_BAL','AGE','BILL_AMT1','BILL_AMT2','BILL_AMT3','BILL_AMT4','BILL_AMT5','BILL_AMT6','PAY_AMT1','PAY_AMT2','PAY_AMT3','PAY_AMT4','PAY_AMT5','PAY_AMT6']
    X_std=copy.deepcopy(X)
    for i in rescale:
        k=i
        train_mean=np.mean(X_std.loc[:,k])
        train_std=np.std(X_std.loc[:,k])
        X_std.loc[:,k]=((X_std.loc[:,k]-train_mean)/train_std)
    return(X_std)
################################################################


#Oversampling the under represented class
################################################################
def oversample(X,y):
    X_copy=copy.deepcopy(X)
    X_resampled, y_resampled = SMOTE().fit_resample(X, y)
    X_resampled1=pd.DataFrame(X_resampled,columns=X_copy.columns)
    return(X_resampled1,y_resampled)
################################################################

### Feature Selection

In [0]:
#Selecting K Best features
################################################################
def select_features(X_train,Y_train,X_test,Y_test,X,Test):
    #Select 15 best (Based on multiple runs)
    select_feature = SelectKBest(mutual_info_classif, k=15).fit(X_train, Y_train)
    selected_features_df = pd.DataFrame({'Feature':list(X_train.columns),'Scores':select_feature.scores_})
    selected_features_df_sorted=selected_features_df.sort_values(by='Scores', ascending=False)
    Kbest_features=selected_features_df_sorted.iloc[0:15,0]
    
    #Selecting K feature columns in Train and Val df
    X_train15=copy.deepcopy(X_train[Kbest_features])
    X_val15=copy.deepcopy(X_val[Kbest_features])
    X_15=copy.deepcopy(X[Kbest_features])
    Test_15=copy.deepcopy(Test[Kbest_features])
    return(X_train15,X_val15,X_15,Test_15)
################################################################

## Cross Validation function

In [0]:
#F1Score with CrossValidation calculation on Train set and F1 Score of Train set against Validation Set
################################################################
def f1score_(X_train, X_test, Y_train, Y_test,model):
    model.fit(X_train,Y_train)
    cv_score=np.mean(cross_validate(model, X_train, Y_train, cv=6,scoring='f1',return_train_score=True)['test_score'])
    y_pred1 = model.predict_proba(X_test)
    y_pred = y_pred1.argmax(axis=-1)
    return(cv_score,f1_score(y_pred, Y_test))
################################################################

#F1Score with CrossValidation on entire Training and Validation set 
#Fitting model with data
################################################################
def f1score_m(X_train,Y_train,test,model):
    model.fit(X_train,Y_train)
    y_pred1 = model.predict_proba(test)
    y_pred = y_pred1.argmax(axis=-1)
    cv_score=np.mean(cross_validate(model, X_train, Y_train, cv=6,scoring='f1',return_train_score=True)['test_score'])
    return(cv_score,y_pred)
################################################################

## Main

### Data

In [0]:
Train, Test=load_data()
X = copy.copy(Train.drop("default payment next month", axis=1))
Y = copy.copy(Train["default payment next month"])
X

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
ID,,,,,,,,,,,,,,,,,,,,,
1,20000,2,2,1,24,2,2,-1,-1,-2,...,689,0,0,0,0,689,0,0,0,0
3,90000,2,2,2,34,0,0,0,0,0,...,13559,14331,14948,15549,1518,1500,1000,1000,1000,5000
4,50000,2,2,1,37,0,0,0,0,0,...,49291,28314,28959,29547,2000,2019,1200,1100,1069,1000
5,50000,1,2,1,57,-1,0,-1,0,0,...,35835,20940,19146,19131,2000,36681,10000,9000,689,679
6,50000,1,1,2,37,0,0,0,0,0,...,57608,19394,19619,20024,2500,1815,657,1000,1000,800
7,500000,1,1,2,29,0,0,0,0,0,...,445007,542653,483003,473944,55000,40000,38000,20239,13750,13770
8,100000,2,2,2,23,0,-1,-1,0,0,...,601,221,-159,567,380,601,0,581,1687,1542
9,140000,2,3,1,28,0,0,2,0,0,...,12108,12211,11793,3719,3329,0,432,1000,1000,1000
11,200000,2,3,2,34,0,0,2,0,0,...,5535,2513,1828,3731,2306,12,50,300,3738,66
13,630000,2,2,2,41,-1,0,-1,-1,-1,...,6500,6500,6500,2870,1000,6500,6500,6500,2870,0
14,70000,1,2,2,30,1,2,2,0,0,...,65701,66782,36137,36894,3200,0,3000,3000,1500,0
15,250000,1,1,2,29,0,0,0,0,0,...,63561,59696,56875,55512,3000,3000,3000,3000,3000,3000
16,50000,2,3,3,23,1,2,0,0,0,...,28116,28771,29531,30211,0,1500,1100,1200,1300,1100
17,20000,1,1,2,24,0,0,2,2,2,...,17428,18338,17905,19104,3200,0,1500,0,1650,0
18,320000,1,1,1,49,0,0,0,-1,-1,...,194663,70074,5856,195599,10358,10000,75940,20000,195599,50000
19,360000,2,1,1,49,1,-2,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,0
20,180000,2,1,2,29,1,-2,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,0
21,130000,2,3,2,39,0,0,0,0,0,...,24489,20616,11802,930,3000,1537,1000,2000,930,33764
22,120000,2,2,1,39,-1,-1,-1,-1,-1,...,316,0,632,316,316,316,0,632,316,0
23,70000,2,2,2,26,2,0,0,2,2,...,45020,44006,46905,46012,2007,3582,0,3601,0,1820
24,450000,2,1,1,40,-2,-2,-2,-2,-2,...,1473,560,0,0,19428,1473,560,0,0,1128
25,90000,1,1,2,23,0,0,0,-1,0,...,0,5398,6360,8292,5757,0,5398,1200,2045,2000
26,50000,1,3,2,23,0,0,0,0,0,...,36023,28967,29829,30046,1973,1426,1001,1432,1062,997
27,60000,1,1,2,27,1,-2,-1,-1,-1,...,259,-57,127,-189,0,1000,0,500,0,1000
28,50000,2,3,2,30,0,0,0,0,0,...,17163,17878,18931,19617,1300,1300,1000,1500,1000,1012
30,50000,1,1,2,26,0,0,0,0,0,...,17496,17907,18375,11400,1500,1500,1000,1000,1600,0
31,230000,2,1,2,27,-1,-1,-1,-1,-1,...,13266,15339,14307,36923,17270,13281,15339,14307,37292,0
33,100000,1,1,2,32,0,0,0,0,0,...,82880,80958,78703,75589,3023,3511,3302,3204,3200,2504
34,500000,2,2,1,54,-2,-2,-2,-2,-2,...,22722,7521,71439,8981,4152,22827,7521,71439,981,51582
37,280000,1,2,1,40,0,0,0,0,0,...,180422,170410,173901,177413,8026,8060,6300,6400,6400,6737
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29964,610000,1,1,2,31,0,-1,2,-1,-1,...,319014,347303,248893,269528,323014,1605,349395,250144,271099,220076
29965,360000,1,1,2,31,-1,-1,-1,0,0,...,20007,18498,18422,1842,51,20007,1590,1000,1842,390
29968,50000,1,2,1,32,0,0,0,-1,2,...,0,50551,40590,39384,2686,0,50551,0,1600,1500
29969,20000,1,2,2,34,0,0,0,0,0,...,15277,13478,16978,12914,2000,2000,1000,5000,12914,600
29970,200000,1,2,1,33,0,0,0,0,0,...,63834,56768,58826,67577,5000,2183,2059,3000,9751,3000
29971,360000,1,1,1,34,-1,-1,-1,0,0,...,64069,49005,8676,19487,52951,64535,8907,53,19584,16080
29972,80000,1,3,1,36,0,0,0,0,0,...,68279,69674,71070,73612,2395,2500,2530,2556,3700,3000
29973,190000,1,1,1,37,0,0,0,0,0,...,5869,29223,19616,148482,2000,3869,25128,10115,148482,4800
29974,230000,1,2,1,35,1,-2,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,0
29975,50000,1,2,1,37,1,2,2,2,0,...,4328,2846,1585,1324,0,3000,0,0,1000,1000
29976,220000,1,2,1,41,0,0,-1,-1,-2,...,1369,5924,1759,1824,8840,6643,5924,1759,1824,7022
29977,40000,1,2,2,47,2,2,3,2,2,...,53415,51259,47151,46934,4000,0,2000,0,3520,0
29978,420000,1,1,2,34,0,0,0,0,0,...,140011,141695,144839,147954,7000,7000,5500,5500,5600,5000
29979,310000,1,2,1,39,0,0,0,0,0,...,233854,219409,216540,210675,10029,9218,10029,8049,8040,10059
29980,180000,1,1,1,32,-2,-2,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,0
29981,50000,1,3,2,42,0,0,0,0,0,...,49397,50360,19971,19694,10000,4000,5000,3000,4500,2000
29982,50000,1,2,1,44,1,2,2,2,0,...,33101,28192,22676,14647,2300,1700,0,517,503,585
29984,20000,1,2,1,44,-2,-2,-2,-2,-2,...,2712,2882,9235,1719,2890,2720,2890,9263,1824,1701
29986,240000,1,1,2,30,-2,-2,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,0
29987,360000,1,1,2,35,-1,-1,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,0
29988,130000,1,1,2,34,0,0,0,0,0,...,15546,108047,93708,97353,3000,2000,93000,4000,5027,4005
29989,250000,1,1,1,34,0,0,0,0,0,...,243075,245750,175005,179687,65000,8800,9011,6000,7000,6009
29990,150000,1,1,2,35,-1,-1,-1,-1,-1,...,-3,780,0,0,9054,0,783,0,0,0
29991,140000,1,2,1,41,0,0,0,0,0,...,139110,138262,49675,46121,6000,7000,4228,1505,2000,2000
29992,210000,1,2,1,34,3,2,2,2,2,...,2500,2500,2500,2500,0,0,0,0,0,0
29994,100000,1,1,2,38,0,-1,-1,0,0,...,102996,70626,69473,55004,2000,111784,4000,3000,2000,2000
29997,150000,1,3,2,43,-1,-1,-1,-1,0,...,3502,8979,5190,0,1837,3526,8998,129,0,0
29998,30000,1,2,2,37,4,3,2,-1,0,...,2758,20878,20582,19357,0,0,22000,4200,2000,3100
29999,80000,1,3,1,41,1,-1,0,0,0,...,76304,52774,11855,48944,85900,3409,1178,1926,52964,1804
30000,50000,1,2,1,46,0,0,0,0,0,...,49764,36535,32428,15313,2078,1800,1430,1000,1000,1000

### Model training and Evaluation

In [0]:
#STANDARDIZING: Standardizing Non Categorical data
X_std=scale(X)
#TRAIN-TEST SPLIT : Using a Train set, Validate set split of 0.40 (Based on multiple runs with different splits)
X_train, X_val, Y_train, Y_val = train_test_split(X_std, Y, test_size=0.35,random_state=42)
#SMOTE OVERSAMPLING : Oversampling underrepresented class in Train set   
X_resampled,Y_resampled=oversample(X_train,Y_train)
#FEATURE SELECTION : Selecting 15 best features in Train set(Based on multiple runs) 
X_train15,X_val15,X_15,Test_15=select_features(X_resampled,Y_resampled,X_val,Y_val,X_resampled,Test)

#CLASSIFIER : Decision Tree classifier (Checked on multiple classifiers, Decision Tree gave best results)
#Best max_depth is 6
clf=DecisionTreeClassifier(random_state=42,max_depth=6,criterion='gini')
#SCORING : F1_score with k best features
fscore_kbest=(f1score_(X_train15, X_val15, Y_resampled, Y_val,clf))
print("Cross Val F1_score on Train set and F1_score on Validation set",fscore_kbest)
#FITTING : Final fit of model with whole Train set with oversampling
f1_score_15best,Y_predicted=f1score_m(X_15,Y_resampled,Test_15,clf)
print("F1_score of full Train set",f1_score_15best)

Cross Val F1_score on Train set and F1_score on Validation set (0.6949873556177072, 0.5213675213675214)
F1_score of full Train set 0.6949873556177072

### Saving

In [0]:
Test['Prediction']=Y_predicted
Test.to_csv('Test_predicted.csv')

F1 score on Validation set doesn't change much.



On validation set :

    Without Oversampling: F1 score ~ (0.48)
    With Oversampling: F1 score ~ (0.50)
    
    
Within Train set :
    
    Without Oversampling: F1 score ~ (0.48)
    With Oversampling: F1 score ~ (0.70)